In [13]:
import pandas as pd
import spacy
from spacy import displacy

In [45]:
text = "Mahindra planned to sell the diesel SUVs and pickup trucks starting in late 2010 in North America[79] through an independent distributor, Global Vehicles USA, based in Alpharetta, Georgia.[80] Mahindra announced it would import pickup trucks from India in knockdown kit (CKD) form to circumvent the Chicken tax.[81] CKDs are complete vehicles that were assembled in the United States from kits of parts shipped in crates.[81] On 18 October 2010, however, it was reported that Mahindra had indefinitely delayed the launch of vehicles into the North American market, citing legal issues between it and Global Vehicles after Mahindra retracted its contract with Global Vehicles earlier in 2010, due to a decision to sell the vehicles directly to consumers instead of through Global Vehicles.[82] However, a November 2010 report quoted John Perez, the CEO of Global Vehicles USA, as estimating that he expected Mahindra's small Diesel pickups to go on sale in the United States by spring 2011, although legal complications remained, and Perez, while hopeful, admitted that arbitration could take more than a year.[83] Later reports suggested that the delays may be due to Mahindra scrapping the original model of the truck and replacing it with an upgraded one before selling them to Americans.[84] In June 2012, a mass tort lawsuit was filed against Mahindra by its American dealers, alleging the company of conspiracy and fraud.[85] Mahindra Automotive North America (MANA), the company's U.S. subsidiary, opened a car manufacturing plant in Detroit, Michigan on 20 November 2017. The plant employs 250 people and is the first automotive production facility to open in Detroit in 25 years.[86] The first product from the new facility was launched on 2 March 2018 as the Mahindra Roxor."

In [46]:
nlp = spacy.load("en_core_web_sm")

In [47]:
doc = nlp(text)

entities = []
labels = []
position_start = []
position_end = []

In [48]:
for ent in doc.ents:
    entities.append(ent)
    labels.append(ent.label_)
    position_start.append(ent.start_char)
    position_end.append(ent.end_char)
    
df = pd.DataFrame({'Entities':entities,'Labels':labels,'Position_Start':position_start,'Position_End':position_end})

df

,Entities,Labels,Position_Start,Position_End
0,"(late, 2010)",DATE,71,80
1,"(North, America[79)",GPE,84,100
2,"(Global, Vehicles, USA)",ORG,138,157
3,(Alpharetta),GPE,168,178
4,(India),GPE,247,252
5,(Chicken),PERSON,299,306
6,"(the, United, States)",GPE,366,383
7,"(18, October, 2010)",DATE,429,444
8,(Mahindra),ORG,476,484
9,"(North, American)",NORP,542,556
10,"(Global, Vehicles, after, Mahindra)",ORG,600,630
11,"(Global, Vehicles)",ORG,659,674
12,(2010),DATE,686,690
13,"(Global, Vehicles.[82, ])",GPE,772,792
14,"(November, 2010)",DATE,804,817
15,"(John, Perez)",PERSON,832,842
16,"(Global, Vehicles, USA)",ORG,855,874
17,(Mahindra),ORG,907,915
18,(Diesel),ORG,924,930
19,"(the, United, States)",GPE,956,973
20,"(spring, 2011)",DATE,977,988
21,(Perez),PERSON,1033,1038
22,(Mahindra),ORG,1168,1176
23,"(Americans.[84, ])",PERSON,1280,1294
24,"(June, 2012)",DATE,1298,1307
25,(Mahindra),ORG,1347,1355
26,(American),NORP,1363,1371
27,(U.S.),GPE,1487,1491
28,(Detroit),GPE,1540,1547
29,(Michigan),GPE,1549,1557
30,"(20, November, 2017)",DATE,1561,1577
31,(250),CARDINAL,1597,1600
32,(first),ORDINAL,1619,1624
33,(Detroit),GPE,1667,1674
34,(25),CARDINAL,1678,1680
35,(first),ORDINAL,1696,1701
36,"(2, March, 2018)",DATE,1748,1760
37,"(the, Mahindra, Roxor)",LOC,1764,1782

In [42]:
spacy.explain("ORG")

'Companies, agencies, institutions, etc.'

In [49]:
spacy.explain("LOC")

'Non-GPE locations, mountain ranges, bodies of water'

In [50]:
spacy.explain("CARDINAL")

'Numerals that do not fall under another type'